{{#each carts}}
  <h3>Cart ID: {{this._id}}</h3>
  <ul>
    {{#each this.products}}
      <li>
        Quantity: {{this.quantity}}, Product ID: {{this._id}}
      </li>
    {{/each}}
  </ul>
{{/each}}