{{#each carts}}
  <h3>Cart ID: {{this._id}}</h3>
  <ul>
    {{#each this.products}}
      <li>
        <strong>Product:</strong> {{this.product.title}} <strong>Cantidad:</strong> {{this.quantity}}
      </li>
    {{/each}}
  </ul>
{{/each}}