<div>
  <h1>Registro</h1>
  <form method="post" action="/api/session/register" enctype="multipart/form-data">
    <table>
      <tr>
        <td><label>Nombre</label></td>
        <td><input name="first_name"/></td>
      </tr>
      <tr>
        <td><label>Apellido</label></td>
        <td><input name="last_name"/></td>
      </tr>
      <tr>
        <td><label>Email</label></td>
        <td><input name="email"/></td>
      </tr>
      <tr>
        <td><label>Edad</label></td>
        <td><input name="age"/></td>
      </tr>
      <tr>
        <td><label>Contraseña</label></td>
        <td><input type="password" name="password"/></td>
      </tr>
      <tr>
        <td>
        <input type="file" placeholder="Imagen de perfil" name="avatar">
        </td>
      </tr>
    </table>
    <br>
    <button type="submit">registrarse</button>
  </form>
  <p>¿Ya tienes una cuenta? <a href="/login">Ingrese aquí</a></p>
</div>
{{!-- <script src="/js/register.js"></script> --}}